# requirements.txt

# Specify the PyTorch wheel index URL
# Choose the appropriate CUDA version by uncommenting the corresponding -f line

# For CUDA 7.5
# -f https://download.pytorch.org/whl/cu75

# For CUDA 8.0
# -f https://download.pytorch.org/whl/cu80

# For CUDA 9.0
-f https://download.pytorch.org/whl/cu90

# PyTorch 1.0.0 with the selected CUDA version
torch==1.0.0
torchvision==0.2.2  # Compatible with torch 1.0.0

# Other dependencies
pillow<7
scipy
numpy
pyyaml==5.4.1
matplotlib
cffi
Cython
requests
opencv-python==4.5.4.60